.card {
  position: relative;
}

.title {
  margin: 0 0 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.sessiontitle {
  margin: 0 0 10px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 14px 0 14px;
}

.emptyText {
  margin: 0;
  font-size: 1rem;
  color: #555;
  text-align: center;
  padding: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 1rem;
  padding: 0 14px 0 14px;
}

.row:last-child {
  border-bottom: none;
}

.card {
  position: relative;
}

.gpaCard {
  width: 100%;
  background: white;
  border-radius: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  color: #111;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    to bottom,
    #ffc500,
    #ffffff 100%
  );
}

.link {
  border: 1px solid #8cc8ff;
  color: hsl(218, 86%, 46%);
  border-radius: 10px;
  width: 100%;
  background: #fff;
  padding: 14px;
  margin-bottom: 15px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.25s,
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.1s ease;
}

.link:hover {
  border: 1px solid hsl(218, 86%, 46%);
  color: #fff;
  background-color: hsl(218, 86%, 46%);
  transform: scale(1.03);
}

.icon {
  margin-left: 10px;
}

.linkcard {
  background: #fff;
  border: 1px solid #8cc8ff;
  color: hsl(218, 86%, 46%);
  width: 100%;
  border-radius: 10px;
  padding: 14px;
  margin-bottom: 15px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.linkTitle {
  padding-left: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.sessionCard {
  width: 100%;
  position: relative;
  color: #111;
  padding-top: 14px;
  padding-bottom: 14px;

  background: linear-gradient(
    to bottom,
    #518ff2 0%,
    #d0e1fa 40%,
    #eae69f 100%
  );
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 15px;
}

.circle {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color 0.1s ease,
    transform 0.1s ease;
}
.circle:hover {
  background-color: #ec3f3f;
}

.deleteButton {
  position: absolute;
  top: -8px;
  right: -8px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.1s;
}

.deleteButton:hover {
  transform: scale(1.1);
}

.deleteButton img {
  width: 24px;
  height: 24px;
}

.course {
  font-weight: 700;
  font-size: 1rem;
  display: block;
}

.time {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 2px;
  display: block;
}

.location {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 2px;
  display: block;
}

.members {
  font-size: 0.9rem;
  font-weight: 600;
  color: #111;
  padding: 2px 6px;
  display: inline-block;
  margin-top: 4px;
}

.subTitle {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  font-size: 0.95rem;
  font-weight: bolder;
  color: #111;
  width: 100%;
  background-color: #f2f2f2;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.tutor {
  font-size: 0.85rem;
  font-weight: 700;
  color: white;
  background: #111;
  border: 2px solid #111;
  padding: 2px 6px;
  display: inline-block;
  margin-top: 4px;
}

.tutorAccepted {
  font-size: 0.85rem;
  font-weight: 700;
  color: white;
  background: #34c759;
  border: 2px solid #111;
  padding: 2px 6px;
  display: inline-block;
  margin-top: 4px;
}

.gpaValue {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #f7e097;
  color: #ffc500;
  background: #fff;
  border-radius: 10px;
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  padding: 10px 10px;
}

.gpaTitle {
  margin: 0;
  padding: 0 14px 0 14px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: #111;
}

.actionButton {
  border: 1px solid #8cc8ff;
  color: hsl(218, 86%, 46%);
  border-radius: 10px;
  margin: auto 0;
  padding: 6px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    transform 0.2s ease,
    border-color 0.1s ease;
}

.actionButton:hover {
  border: 1px solid hsl(218, 86%, 46%);
  background-color: hsl(218, 86%, 46%);
  color: #fff;
  transform: scale(1.03);
}

.actionButtonDelete {
  margin: auto 0;
  background: #ec3f3f;
  color: white;
  border: 2px solid #ec3f3f;
  border-radius: 10px;
  padding: 6px 12px;
  font-size: 0.95rem;
  font-weight: 700;
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.2s ease;
}

.actionButtonDelete:hover {
  background-color: #c92f2f;
  transform: scale(1.03);
}

.tutoringSuggestionsCard {
  width: 100%;
  color: #111;
  padding-top: 14px;
  padding-bottom: 14px;

  /* Light blue base */
  background: linear-gradient(
    to bottom,
    #9cadc4 0%,
    /* very light blue at the top */ #9fbbe4 40%,
    /* fades softer */ #ffffff 100% /* blends into white at bottom */
  );
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 15px;
}

.tutoringSuggestionsTitle {
  border-bottom: 1px solid #e7e7e7;
  margin: 0 10px 15px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0 14px 0 14px;
  color: #fff;
}

.tutoringSuggestionsRows {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 14px;
  justify-content: center;
  align-items: center;
  color: hsl(218, 86%, 46%);
}

.suggestion {
  border: 1px solid #8cc8ff;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.notificationsCard {
  width: 100%;
  color: #555555;

  /* Light blue base */
  background: linear-gradient(
    to bottom,
    #ffc500 0%,
    /* very light blue at the top */ #eeedb6 40%,
    /* fades softer */ #ffffff 100% /* blends into white at bottom */
  );
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 15px;
  padding-bottom: 4px;
}

.notificationsHeader {
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 14px;
  background-color: #ffc500;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.notificationsTitle {
  color: #fff;
  padding-left: 10px;
}

.nrow {
  display: flex;
  padding: 6px 0;
  font-size: 1rem;
  padding: 0 14px 0 14px;
  margin: 10px 0;
}

.nicon {
  margin: 0 10px;
}

.flashlineCard {
  border-radius: 10px;
  width: 100%;
  color: #fff;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin-bottom: 15px;
  position: relative;
}

.flashlineHeader {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 14px;
  background: linear-gradient(
    to right,
    #ffc500 0%,
    #f8cf49 60%,
    #ffffff 100%
  );
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.flashlineContent {
  border: 1px solid transparent;
  text-decoration: underline;
  font-weight: 600;
  color: hsl(218, 86%, 46%);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.flashlineLinkHeader {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 14px;
  background: linear-gradient(
    to right,
    #ffc500 0%,
    #f8cf49 60%,
    #ffffff 100%
  );
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.flashlineicon {
  padding-bottom: 5px;
}

.flashlineLinkContent {
  border: 1px solid transparent;
  text-decoration: underline;
  font-weight: 600;
  color: hsl(218, 86%, 46%);
  padding: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition:
    color 0.2s ease,
    background-color 0.2s ease,
    transform 0.2s ease,
    border 0.1s ease;
}

.flashlineLinkContent:hover {
  text-decoration: none;
  border: 1px solid hsl(218, 86%, 46%);
  background-color: hsl(218, 86%, 46%);
  color: #fff;
}
